<div class="menu-above">
    <a href="home" class="menu__action none_decoration {{style_home}} color_honey">Главная</a>
    <a href="info" class="menu__action none_decoration {{style_info}} color_honey">Положение</a>
    <a href="teams" class="menu__action none_decoration {{style_teams}} color_honey">Команды</a>
    <a href="organizers" class="menu__action none_decoration {{style_org}} color_honey">Организаторы</a>
    <a href="partners" class="menu__action none_decoration {{style_part}} color_honey">Партнёры</a>
    <a href="help" class="menu__action none_decoration {{style_help}} color_honey">Помощь</a>
</div>