<div class="register-container centering">
  <div style="margin-top: -1vh;">
    <h1>Профиль</h1>
  </div>
  <div class="register-title">
    {{!-- ID:
    {{user.id}}<br /> --}}
    {{#if user.email}}
    Email:
    {{user.email}}
    {{/if}}
 </div>
 <div class="register-title">
    {{#if status}}
    Статус заявки:
    {{status}}
  </div>
  <a class="button none_decoration" href="/request">Изменить заявку</a>
  {{else}}
  <a class="button none_decoration" href="/request">Подать заявку</a>
  {{/if}}
  {{#if reason}}
  <b class="register-title">Причина отклонения заявки: <i class="register-title">{{reason}}</i></b>
  {{/if}}
  <a class="hyperlink register-title" href="/logout">Выйти из учетной записи</a>
</div>