<table class='table'>
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Школа</th>
            <th scope="col">Руководитель</th>
            <th scope="col">Статус</th>
            <th scope="col">Подтвердить/Отклонить</th>
        </tr>
    </thead>
    <tbody>
        {{#each requests}}
        <tr>
            <th scope="col">{{ id }}</th>
            <th scope="col">{{ team_name }}</th>
            <th scope="col">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target='#exampleModal{{ id }}'>
                    Открыть описание
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ id }}" tabindex="-1"
                    aria-labelledby="exampleModalLabel{{ id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel{{ id }}">Описание команды</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ team_desc }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">{{ school }}</th>
            <th scope="col">{{ boss }}</th>
            <th scope="col">{{ status }}</th>
            <th scope="col">
                <div class='btn-group' role="group">
                    <button class='btn btn-primary'>Подтвердить</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reject{{id}}">
                        Отклонить
                    </button>
                    <div class="modal fade" id="reject{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <textarea class="modal-body" id='rejectDesc{{id}}'
                                    placeholder="Причина отклонения заявки">{{ reason }}</textarea>
                                <div class="modal-footer">
                                    <script>function sendReject(){ fetch(`/admin/rejectRequest?id={{id}}&reason=${document.getElementById("rejectDesc{{id}}").value}`, { headers: { Accept: 'application/json, *.*', 'Content-Type': 'application/json;charset=utf-8' }, method: 'POST'}); }</script>
                                    <button type="button" class="btn btn-secondary" onclick="alert('asd')"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="sendReject()">Save
                                        changes</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        {{/each}}
    </tbody>
</table>
<script></script>